<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'assets/css/datepicker.css' %}"  type="text/css" />


  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <script src="{% static 'assets/js/vendor/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/loader.js' %}"></script>
  <script src="{% static 'assets/js/jsapi' %}"></script>


  {% block jqueryscript %}{% endblock %}

  <title>{% block title %} {% endblock %}</title>
</head>

<body class="{% block body_class %} {% endblock body_class %}">

    {% block content %}
    {% endblock %}

 

</body>
</html>